#nation-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: 5% auto; 
}

.nation-btn {
    width: 20%;
    height: fit-content;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: white;
    background-color: black;
    border: white;
    border-radius: 30px;
}

.nation-btn.dark-mode-nation-btn {
    color: black;
    background-color: white;
    border: black ;
}

.nation-btn.active {
    border: 4px solid; /* Bolder border for the active button */
}

#char-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 25vw);
    justify-content: center;
    gap: 0% 1%;
    width: 90%;
    margin: auto;
}

.char-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0%;
}

.char-box img {
    padding: 2%;
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

.char-box p {
    font-size: auto;
    padding: 3%;
}

h3 {
    margin-top: 0%;
    margin-bottom: -5%;
}

#score {
    display: flex;
    justify-content: left;
    margin-left: 25%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

.ques-box {
    background-color: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}

.trivia-btn {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    padding: 0.5% 5% 0.5% 5%;
    border-radius: 20px;
}